.img-fluid {
    max-width: 20% !important;
    height: auto;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: justify;
    text-align-last: center;
}

.about p {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.blue {
    color: #2563EB;
}

.clients {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
}

.client-photo {
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    margin: 20px auto;
}

q {
    font-weight: 300;
    font-size: small;
    text-align: justify;
    text-align-last: center;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(3, 82, 49, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
}

.nav-link:hover {
    color: #2563EB;
}

.button {
    background-image: linear-gradient(to right, #3A80F3, #1F3C8D);
    color: #fff;
    border: none;
    max-width: fit-content;
}

.button:hover {
    border: 1px solid #fff;
}

.banner {
    justify-items: center;
    justify-content: space-between;
}

.banner-text {
    font-size: 5dvw;
    text-align: left !important;
}

.banner-element {
    width: 50dvw;
    justify-content: center;
    justify-items: center;
}


.banner-img {
    width: 40dvw;
    z-index: 1;
    position: relative;
}

.bg-text {
    position: absolute;
    -webkit-text-stroke: 2px #3C3F46;
    color: transparent;
    font-weight: 600;
    font-size: 20dvw;
}