.img-fluid {
    max-width: 20% !important;
    height: auto;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: justify;
    text-align-last: center;
}

.about p {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.blue {
    color: #2563EB;
}

.clients {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.blue {
    color: #2563EB;
}.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
}

.client-photo {
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    margin: 20px auto;
}

q {
    font-weight: 300;
    font-size: small;
    text-align: justify;
    text-align-last: center;
}